@keyframes turnIntoCommentArea {
    0% {
        opacity: 1;
        padding-top: 0px;
    }

    10% {
        opacity: 0;
        padding-top: 0px;
    }

    80% {
        opacity: 0;
        padding-top: 150px;
    }

    100% {
        padding-top: 150px;
        opacity: 1;
    }
}

@keyframes expandPost {
    0% {
        height: 0px;
    }

    100% {
        height: 198px;
    }
}

@keyframes closePost {
    0% {
        height: 198px;
    }

    100% {
        height: 0px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.disappear {
    animation: disappear 0.5s ease;
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Transitions */
.closedHorizontally {
    width: 0 !important;
}

.closedVertically {
    height: 0 !important;
    padding: 0 !important;
}

#content.closedVertically {
    top: 400px !important;
}

.underView {
    bottom: -40px !important;
}

.overView {
    top: -120px !important;
}

#contentArea.comment {
    animation: turnIntoCommentArea 1.1s ease;
    padding-top: 150px;
}

#post.comment {
    width: 731px !important;
    height: 292px !important;
}

.comment #postSeparator {
    width: 557px !important;
}